<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Letto | Home</title>
  </head>
  <body>
      <% if @user_uuid %>
        Congratulations, you're connected with UUID <%= @user_uuid %>!
      <% end %>
      <% if @trello_connected_username %>
        You're connected to Trello <%= @trello_connected_username %>.
        <ul>
          <li><a href="/trello/boards">Boards</a></li>
          <li><a href="/trello/webhooks">Webhooks</a></li>
          <li><a href="/trello/connection/destroy">Disconnect from Trello</a></li>
        </ul>
      <% else %>
        You must <a href="<%= routes.trello_connection_initialize_path %>">connect to Trello</a> first.
      <% end %>
      <a href="/workflows">Configure Workflows</a>
  </body>
</html>
