<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Letto | Home</title>
  </head>
  <body>
      <% if @user %>
        Trello :
        <ul>
        <% if @user[:trello_access_token] %>
          <li>You're connected to Trello (username: <%= @username %>)</li>
          <li><a href="/trello/boards">Boards</a></li>
          <li><a href="/trello/webhooks">Webhooks</a></li>
          <li><a href="/trello/connection/destroy">Disconnect from Trello</a></li>
        <% else %>
          <li>You must <a href="/trello/connection">connect to Trello</a> first</li>
        <% end %>
        </ul>
        <a href="/workflows">Configure Workflows</a>
      <% else %>
        You must connect:
        <ul>
          <li><a href="/trello/connection">connect through Trello</a></li>
        </ul>
      <% end %>
  </body>
</html>
