<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Letto | Home</title>
  </head>
  <body>
    <ul>
      <% if @user %>
        <li>You're connected to Trello (username: <%= @username %>)</li>
        <li><a href="/trello/boards">Boards</a></li>
        <li><a href="/trello/webhooks">Webhooks</a></li>
        <li><a href="/connection/destroy">Disconnect from Trello (TODO)</a></li>
        <li><a href="/logout">Logout (TODO)</a>
      <% else %>
        <li>You must <a href="/connection">connect to Trello</a> first</li>
      <% end %>
    </ul>
  </body>
</html>
