<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Letto | Boards</title>
  </head>
  <body>
    <i><a href="/">Back to Home Page</a></i>
    <h1>Boards</h1>
    <ul>
      <% @all_organizations.each do |organization_id, boards| %>
        <li>
          <% matching_organization =  @organizations.find{|organization| organization[:id] == organization_id } %>
          <b><%= matching_organization ? matching_organization[:display_name] : organization_id %></b>
          <table>
            <% boards.each do |infos| %>
              <% board, url = infos %>
                <tr>
                  <td><%= board[:name] %> (<%= board[:id] %>)</td>
                  <td><a href="<%= url %>">Create webhook</a>
                </tr>
            <% end %>
          </table>
        </li>
      <% end %>
    </ul>
  </body>
</html>
