<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Letto | Webhooks</title>
  </head>
  <body>
    <i><a href="/">Back to Home Page</a></i>
    <h1>Webhooks</h1>
    <% if @webhooks.any? %>
      <ul class="webhooks_list">
        <% @webhooks.zip(@delete_webhook_urls).each do |webhook, url| %>
          <li class="webhooks_list--row"><%= webhook[:description] %> <a href="<%= url %>">Delete webhook</a></li>
        <% end %>
      </ul>
    <% else %>
      <p>No webhooks configured yet</p>
    <% end %>
  </body>
</html>
