<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Letto | Boards</title>
  </head>
  <body>
    <i><a href="/">Back to Home Page</a></i>
    <h1>Boards</h1>
    <ul class="boards_list">
      <% @organizations_and_boards.each do |organization_id, organization_info| %>
        <li class="boards_list--row">
          <b><%= organization_info[:display_name] %></b>
          <table>
            <% organization_info[:boards].each do |board_infos| %>
              <% board, url = board_infos %>
                <tr>
                  <td><%= board[:name] %> (<%= board[:id] %>)</td>
                  <td><a href="<%= url %>">Create webhook</a>
                </tr>
            <% end %>
          </table>
        </li>
      <% end %>
    </ul>
  </body>
</html>
